<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnection"
			 connectionString="Server=localhost\SQLEXPRESS;Database=PrintingManagement;Trusted_Connection=True;TrustServerCertificate=True;Encrypt=False;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		-->
		<add key="SmtpHost"    value="smtp.gmail.com"/>
		<add key="SmtpPort"    value="587"/>
		<add key="SmtpEmail"   value="datdaklak115@gmail.com"/>
		<add key="SmtpAppPass" value="slzp dbxe alnt dmlz"/>
		<add key="AppName"     value="Hệ thống quản lý in ấn"/>
	</appSettings>
</configuration>
